project:
  type: website

website:
  title: "Statistical Advisory Panel"
  site-url: https://American-Statistical-Association.github.io/SAP/

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
